In [1]:
from pvtpy.pvt import PVT
import numpy as np
import pandas as pd

In [2]:
p = np.linspace(10,3500,15)
rho = np.linspace(0.8,1.3,15)
tt = np.linspace(90,130,15)

In [3]:
pvt1 = PVT(pressure=p.tolist(), fields={'rho':rho.tolist(),'temp':tt.tolist()})

In [4]:
pvt1.df()

                  rho        temp
pressure
10.000000    0.800000   90.000000
259.285714   0.835714   92.857143
508.571429   0.871429   95.714286
757.857143   0.907143   98.571429
1007.142857  0.942857  101.428571
1256.428571  0.978571  104.285714
1505.714286  1.014286  107.142857
1755.000000  1.050000  110.000000
2004.285714  1.085714  112.857143
2253.571429  1.121429  115.714286
2502.857143  1.157143  118.571429
2752.142857  1.192857  121.428571
3001.428571  1.228571  124.285714
3250.714286  1.264286  127.142857
3500.000000  1.300000  130.000000

In [6]:
pvt1.interpolate([1500,2100])

               rho        temp
pressure
1500      1.013467  107.077364
2100      1.099427  113.954155

In [8]:
pvt1.interpolate([1500,2100],cols=['temp'])

                temp
pressure
1500      107.077364
2100      113.954155