# Water Correlations

In [1]:
import numpy as np
import pandas as pd
import pvtpy.black_oil as bk
from pvtpy.units import Pressure, Temperature

# Bw

In [2]:
p1 = Pressure(value=2500, unit="psi")
t1 = Temperature(value=100, unit="farenheit")
salinity1 = 13500

bk.rsw(
    pressure=p1,
    temperature=t1,
    salinity=salinity1,
    method="culberson"
)

                rsw
pressure
2500.0    14.700224

In [3]:
bk.rsw(
    pressure=p1,
    temperature=t1,
    salinity=salinity1,
    method=["culberson",'mccoy']
)

          rws_culberson  rsw_mccoy
pressure
2500.0        14.700224  14.505023

# bw

In [4]:
p1 = Pressure(value=2500, unit="psi")
t1 = Temperature(value=100, unit="farenheit")
salinity1 = 13500
cw = 1e-8
pb = Pressure(value=14.7, unit="psi")

bk.bw(
    pressure=p1,
    temperature=t1,
    pb=pb,
    cw=cw,
    salinity=salinity1,
    method='mccain'
)

                bw
pressure
2500.0    1.009191

In [5]:
bk.bw(
    pressure=p1,
    temperature=t1,
    pb=pb,
    cw=cw,
    salinity=salinity1,
    method=['mccain','mccoy']
)

          bw_mccain  bw_mccoy
pressure
2500.0     1.009191  1.000351

# Cw

In [6]:
p1 = Pressure(value=2500, unit="psi")
t1 = Temperature(value=100, unit="farenheit")
salinity1 = 13500
cw = 1e-8
pb = Pressure(value=14.7, unit="psi")

bk.cw(
    pressure=p1,
    temperature=t1,
    rsw=14.7,
    salinity=salinity1,
    method='standing'
)

                cw
pressure
2500.0    0.000003

In [7]:
bk.cw(
    pressure=p1,
    temperature=t1,
    rsw=14.7,
    salinity=salinity1,
    method=['standing','osif']
)

          cw_standing   cw_osif
pressure
2500.0       0.000003  0.000003

# Muw

In [8]:
p1 = Pressure(value=2500, unit="psi")
t1 = Temperature(value=100, unit="farenheit")
salinity1 = 13500
cw = 1e-8
pb = Pressure(value=14.7, unit="psi")

bk.muw(
    pressure=p1,
    temperature=t1,
    salinity=salinity1,
    method='van_wingen'
)

               muw
pressure
2500.0    0.757448

In [9]:
bk.muw(
    pressure=p1,
    temperature=t1,
    salinity=salinity1,
    method=['van_wingen','russel','meehan','brill_beggs']
    )

          muw_van_wingen  muw_russel  muw_meehan  muw_brill_beggs
pressure
2500.0          0.757448    0.675647    0.739767         0.757448

# Rhow

In [10]:
p1 = Pressure(value=2500, unit="psi")
t1 = Temperature(value=100, unit="farenheit")
salinity1 = 13500
cw = 1e-8
pb = Pressure(value=14.7, unit="psi")

bk.rhow(
    pressure=p1,
    salinity=salinity1,
    bw = 1.009,
    method='banzer'
)

               rhow
pressure
2500.0    62.423655

In [11]:
bk.rhow(
    pressure=p1,
    salinity=salinity1,
    bw = 1.009,
    method=['banzer','mccain']
)

          rhow_banzer  rhow_mccain
pressure
2500.0      62.423655    62.963031