In [1]:
import os
path = os.path.abspath(os.path.join('..','..'))
import sys
sys.path.append(path)
from reservoirpy.pvtpy import black_oil as bl
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

# Make a water object

First create an instance of **water** object with all the necessary attributes

In [24]:
wa1 = bl.water(formation='fm_1',pb=2000,salinity=13500, temp=60)

In [25]:
wa1.correlations

{'rsw': 'culberson',
 'cw': 'standing',
 'bw': 'mccain',
 'rhow': 'banzer',
 'muw': 'van_wingen'}

In [26]:
wa1.pvt_from_correlations()

In [27]:
wa1.pvt

                   rsw        cw        bw       muw       rhow
pressure
20.000000     4.851603  0.000003  0.999977  1.205569  62.986943
282.105263    6.436610  0.000003  0.999851  1.205569  62.994844
544.210526    7.973368  0.000003  0.999693  1.205569  63.004787
806.315789    9.461877  0.000003  0.999503  1.205569  63.016777
1068.421053  10.902137  0.000003  0.999281  1.205569  63.030814
1330.526316  12.294148  0.000003  0.999026  1.205569  63.046901
1592.631579  13.637910  0.000003  0.998738  1.205569  63.065043
1854.736842  14.933422  0.000003  0.998418  1.205569  63.085242
2116.842105  16.180686  0.000003  0.997838  1.205569  63.121969
2378.947368  17.379700  0.000003  0.996964  1.205569  63.177301
2641.052632  18.530465  0.000003  0.996091  1.205569  63.232626
2903.157895  19.632981  0.000003  0.995222  1.205569  63.287855
3165.263158  20.687248  0.000003  0.994357  1.205569  63.342900
3427.368421  21.693266  0.000003  0.993498  1.205569  63.397676
3689.473684  22.651035  0.000003  0.992646  1.205569  63.452099
3951.578947  23.560555  0.000003  0.991802  1.205569  63.506089
4213.684211  24.421826  0.000003  0.990968  1.205569  63.559566
4475.789474  25.234847  0.000003  0.990144  1.205569  63.612452
4737.894737  25.999620  0.000003  0.989332  1.205569  63.664674
5000.000000  26.716143  0.000003  0.988532  1.205569  63.716157

In [29]:
wa1.pvt.interpolate(2500)

                rsw        cw        bw       muw       rhow
pressure
2500      17.911178  0.000003  0.996561  1.205569  63.202853

In [5]:
s = 20000
p = 5000
t = 200
rsw = 17.8
p_range = np.linspace(1000,5000,10)

In [6]:
bl.rsw(p=p_range,t=t,s=s,method=['culberson','mccoy'])

             rws_culberson  rsw_mccoy
pressure
1000.000000       6.162260   6.403561
1444.444444       8.018636   8.392001
1888.888889       9.796002  10.197900
2333.333333      11.494358  11.821259
2777.777778      13.113703  13.262078
3222.222222      14.654038  14.520356
3666.666667      16.115362  15.596093
4111.111111      17.497676  16.489290
4555.555556      18.800979  17.199946
5000.000000      20.025272  17.728061

In [23]:
bl.bw(p=3600,pb=2000,cw=3.6e-6,t=t,s=s,method='mccain')

                bw
pressure
3600      1.030689

In [16]:
np.full(10,3.6e-6)

array([3.6e-06, 3.6e-06, 3.6e-06, 3.6e-06, 3.6e-06, 3.6e-06, 3.6e-06,
       3.6e-06, 3.6e-06, 3.6e-06])

In [ ]:
bl.cw(p=p_range,t=t,s=s,rsw=rsw,method=['standing','osif'])

In [ ]:
s

In [ ]:
bl.muw(p=p_range,t=t,s=s,method=['russel', 'van_wingen','meehan','brill_beggs'])

In [ ]:
pd.MultiIndex.from_arrays([p_range, np.full(p_range.shape,t)], names=('number', 'color'))

In [ ]:
bl.rhow(p=p, s=s)